* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color:rgb(46, 46, 46);
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.596);
  background-color: rgba(197, 197, 197, 0.096);  
}

.grid div {
  border: 1px solid white;
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.snake {
background-color: rgba(192, 212, 76, 0.932);
background-size: 150px;
background-position-x: 0;
background-position-y: 0; 
}

.grid div.body {
  background-color: rgba(192, 212, 76, 0.932);
  background-size: 150px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.tale {
  background-color: rgba(192, 212, 76, 0.932);
  background-size: 150px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.food {
  background-color: red;
  background-size: 150px;
  background-position-y: 0;
  background-position-x: 0;
}

